<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <!-- Example : user:pwd@address -->
        <add key="Download.Url" value="adm-spid:spid6adm@spidqlf"/>
        <add key="Download.RemoteDir" value="/LIVRAISONS/_TRANSFERT"/>
        <add key="Download.LocalDir" value="E:\t\ftp"/>
        <add key="Upload.Url" value=""/>
        <add key="Upload.RemoteDir" value=""/>
        <add key="Upload.LocalDir" value=""/>
        <add key="Log.Filename" value="E:\Dropbox\WinApp\FtpConnect\bin\Debug\{0}.log"/>
    </appSettings>
</configuration>
