<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>-->
    </startup>
    <appSettings>
        <add key="Log.Filename" value="E:\Dropbox\WinApp\FtpConnect\bin\Debug\log\{0}.log"/>
        <!-- Example : user¤pwd¤address¤ftp -->
        <add key="Download.Url" value="adm-spid¤spid6adm¤spidqlf¤ftp"/>
        <add key="Download.RemoteDir" value="/LIVRAISONS/_TRANSFERT"/>
        <add key="Download.LocalDir" value="E:\t\ftp"/>
        <!-- upload aspin -->
        <add key="Upload.Aspin.Url" value="adm-astek¤JQr1t@P4mG6!3U*¤asping4dev¤ftpes"/>
        <add key="Upload.Aspin.RemoteDir" value="/SQLServeur"/>
        <!-- upload spid -->
        <add key="Upload.Spid.Url" value="adm-astek¤Q&amp;p9&amp;Fzg*y$5E^d¤spiddev¤ftpes"/>
        <add key="Upload.Spid.RemoteDir" value="/SQLServeur"/>
    </appSettings>
</configuration>
