<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <!-- Example : ftp://user:pwd@address -->
        <add key="Ftp.FullDNS" value=""/>
        <add key="Ftp.RemoteDownloadDir" value=""/>
        <add key="Ftp.RemoteUploadDir" value=""/>
        <add key="Ftp.LocalDir" value=""/>
    </appSettings>
</configuration>